<h3><i class="fab fa-readme"></i> Steller</h3>
<div class="section">
    <p class="lead p1">
        Share your experiences, your way.
    </p>
</div>

<div class="divider"></div>
<div class="section">
    <p class="lead center p2">
        To write and share the stories from your life.
    </p>
</div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In with Google
    </a>
</div>